<div class="container">

	
	<h3 id="data"><i class="fa fa-table breath-right"></i>Insert your data</h3>

	<textarea ui-codemirror="{ 
			lineNumbers : true,
			lineWrapping : true,
			placeholder : 'Paste your text or drop a file here. No data on hand? Try one of our sample datasets!'
		}"
		ng-model="text">
	</textarea>

	<div class="row">

		<div class="col-lg-10">
			<div data-ng-show="!error && data.length" class="alert"><i class="fa fa-check breath-right"></i>{{data.length}} records in your data</div>
			<div data-ng-show="error" class="alert alert-warning"><i class="fa fa-bolt breath-right"></i><strong>Whoops!</strong> {{error}}</div>
		</div>
		
		<div class="col-lg-2">
			<button type="button"
				class="btn btn-default col-lg-12"
				ng-model="sasmple"
				placeholder="Choose a sample"
				ng-change=""
				ng-options="s for s in ['banana']" bs-select>
			  Select the sample <span class="caret"></span>
			</button>
		</div>

	</div>

	<div data-ng-show="error">
		<h3 id="layout">ouch.</h3>
		<p class="light stronga">Sorry, but it seems like something went wrong. Please, check your data and be sure that everything is correct. Most of the times this is due to some missing <a href="http://en.wikipedia.org/wiki/Delimiter">delimiters</a> or weird characters at the end of the file.</p>
	</div>

	<div data-ng-show="!error && data.length">
	
		<h3 id="layout"><i class="fa fa-th breath-right"></i>Choose a Layout</h3>
		
		<div class="row">

			<div class="col-lg-3">
				<h4>{{chart.title()}}</h4>
				<p class="light chart-description" ng-bind-html="chart.description()"></p>
			</div>		

			<div class="col-lg-9">
				<i class="fa fa-th-list breath-right"></i>
				<i class="fa fa-th breath-right"></i>
				<div class="row" group every="3" watch="charts">
					<div class="col-lg-4" ng-repeat="c in charts track by $index">
						<div ng-class="{selected: c == chart}" class="layout"  ng-click="selectChart(c)">
							<!--<div class="layout-thumb" ng-style="{'background-image':'url(' + c.thumbnail() + ')'}">
							</div>-->
							<span class="layout-title">{{c.title()}}
								<i data-ng-show="c==chart" class="fa fa-check pull-right"></i>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		

		<div id="mapping">

			<div>
				<h3><i class="fa fa-magnet breath-right"></i> map your dimensions
				<a data-toggle="tooltip"
				   data-title="Clear all dimensions"
				   ng-click="model.clear()" class="pull-right light"><i class="fa fa-trash-o"></i></a>
				</h3>
				<div class="clearfix"></div>
			</div>


			<div class="row">
				
				<div class="col-lg-3">
					<div draggable>
						<ul class="list-unstyled dimensions-list">
							<li class="dimension" data-index="{{$index}}" data-dimension="{{dimension}}" ng-repeat="dimension in metadata track by $index">
								{{ dimension.key }} 
								<span class="dimension-type">{{dimension.type}}</span>
								<span class="dimension-icon pull-right"><i class="fa fa-bars"></i></span>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="col-lg-9">
					<div class="sticky">
						<div
							class="row"
							group every="3"
							watch="model">

							<div
								class="col-lg-4"
								ng-repeat="dimension in model.dimensions().values() track by $index" ng-init="open=false">

								<div class="dimensions-model">
									<div class="dimension-multiple">
										
										<i class="fa fa-tag"
											data-toggle="tooltip"
									   		data-title="Single dimension"
									   		data-ng-show="!dimension.multiple()"></i>
										
										<i class="fa fa-tags"
											data-toggle="tooltip"
									   		data-title="Multiple dimension"
									   		data-ng-show="dimension.multiple()"></i>
									</div>
									
									<div class="dimension-info"
											data-toggle="tooltip"
									   		data-title="Show description"
									   		ng-click="open = !open" ng-show="dimension.description()">
										<i class="fa fa-info"></i>
									</div>
									
									<p class="dimension-title">{{dimension.title()}}</p>
									<ul
										sortable
										title="dimension.title()"
										value="dimension.value"
										multiple="dimension.multiple()"
										types="dimension.types()"
										class="dimensions-container list-unstyled">
									</ul>
									<div class="dimension-description" ng-class="{open: open}">{{dimension.description()}}</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>

		</div>


		<h3 id="options"><i class="fa fa-check-square breath-right"></i>customize your visualization</h3>

		<div class="row">

			<div class="col-lg-3">
				<ul class="list-unstyled">
					<li ng-repeat="option in chart.options() track by $index" chart-option>
						<p class="option-title">{{option.title()}}
							<a data-ng-show="option.fitToWidth()"
							   data-toggle="tooltip"
							   data-title="Fit to width"
							   class="option-fit pull-right"><i class="fa fa-expand"></i></a>
						</p>

						<div ng-switch="" on="option.type()">

							<input type="number" min="0" class="form-control" ng-model="option.value" ng-switch-when="number"></input>

							<div ng-switch-when="checkbox">
								<label class="checkbox">
									<input type="checkbox" ng-model="option.value"/>
								</label>
							</div>

							<div colors="option.value" ng-switch-when="color">
							</div>

							<button
								type="button"
								class="btn btn-default"
								ng-model="option.value"
								ng-change="$apply()"
								ng-options="o for o in option.values()" bs-select ng-switch-when="select">
							  Action <span class="caret"></span>
							</button>
							
							<input type="text" min="0" class="form-control" ng-model="option.value" ng-switch-default="ng-switch-default"></input>

						</div>

					</li>
				</ul>
			</div>
			
			<div class="col-lg-9">
				<div class="chart-resize">
					<div ng-show="!isEmpty()" id="chart" chart></div>
					<p class="light" ng-show="isEmpty()">Please, map your dimensions in the panels above to build the visualization</p>
				</div>
			</div>
		
		</div>

		<div ng-show="!isEmpty()">

			<div id="export" class="row">

				<div class="col-lg-3">
					<h3><i class="fa fa-arrow-circle-down breath-right"></i>download</h3>
					<downloader></downloader>
				</div>
				
				<div class="col-lg-9">
					<h3 id="data"><i class="fa fa-code breath-right"></i>embed code</h3>
					<coder></coder>
					<p class="light">Copy the code above into your HTML to embed the visualization
						<a class="pull-right" id="copy-button" copy-button data-clipboard-target="source" data-container="body"><i class="fa fa-clipboard"></i></a>
					</p>
				</div>

			</div>
		</div>	

	</div>
</div>