/* app css stylesheet */

/* main scaffolding */

html,
body {
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #565656;
  padding: 20px 0px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #footer, #header {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrap > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

#header {
  padding: 20px 0px;
  background-color: #303032;
  color: #f2f2f2;
  text-align: center;
}

#header h1 {
  font-size:48px;
  font-weight: 100;
  text-transform: uppercase;
}

#info {
  padding: 20px 0px;
  background-color: #61d8b8;
  color: #f2f2f2;
  font-family: "Merriweather";
  height:100%;
}



.key {
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #61d8b8;
  background-image: none;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.keys li.key {
  margin-bottom: 5px;
}

.keys.well li.key {
  margin: 5px 0px;
}


.header {
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #888;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.placeholder {
  background-color:transparent;
  height:34px;
  width:100%;
  margin: 5px 0px;
  border-radius: 4px;
  border: 2px dashed #ddd;
}

.render {
  text-align: center;
  width: 100%;
  margin: 0px;
}

/* Bootstrap */

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 20px 0px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  text-align: center;
}

.alert {
  text-shadow: none;
  text-align: center;
  color: #303032;
}

.alert-danger, .alert-error {
  background-color: #eff460;
  border-color: #eff460;
}

.muted {
  color: #ddd;
  font-size: 10px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input, button, select, textarea {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

select:focus {
  outline-color: transparent;
  outline-style: none;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #61d8b8;
  background-image: none;

  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.btn:hover,
.btn:focus,
.btn.active,
.btn:active {
  background-color: #61d8b8;
  background-image: none;
  outline: 0;
  color: #ffffff;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #61d8b8;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
  font-size: 12px;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #565656;
  border: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu>li {
  vertical-align: middle;
}

.dropdown-menu>li>a {
  padding: 6px 10px;
  margin: 0px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  font-weight: normal;
  background-color: #484848;
color: #61d8b8;
  background-image: none;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: transparent;
  border-bottom: 1px solid #777;
}


/* Bootstrap-select */
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  outline: none;
  margin-bottom: 0px;
  font-size: 11px;
}

.bootstrap-select .btn:focus {
  background-color: #61d8b8;
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.bootstrap-select.btn-group .dropdown-menu dt {
  display: block;
  padding: 3px 20px;
  cursor: default;
  color: #aaaaaa;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*text-align: center;*/
}

/* CodeMirror */

.CodeMirror {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 11px;
  background-color: #ffffff;
  line-height: 18px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px 0;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;*/
}

.CodeMirror-activeline {
  color: #333;
}

.CodeMirror-activeline-background {
  background: rgba(68, 204, 164, 0.18) !important;
}

.CodeMirror-lines {
}

pre.CodeMirror-placeholder {
  color: #888;
}

.CodeMirror.highlight {
  opacity: .5;
}
