extends layout

block body

  div#header.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.brand(href="/") RAW
        //p.navbar-text.pull-left Sketch your data
        ul.nav
          li.active
            a(href="#data") Data
          li
            a(href="#layout") Layout
          li
            a(href="#mapping") Mapping
          li
            a(href="#options") Visualization
          li
            a(href="#export") Export
        p.navbar-text.pull-right ALPHA

  div.wrap(ng-view)

  div#footer
    div.container
      p.muted.credit &copy;2013, DensityDesign Lab
  
  // Libraries
  script(src='js/lib/jquery/jquery.min.js')
  script(src='js/lib/jquery-ui/jquery-ui.min.js')
  script(src='js/lib/sticky/jquery.sticky.js')  
  script(src='js/lib/bootstrap/bootstrap.min.js')  
  script(src='js/lib/bootstrap-select/bootstrap-select.min.js')  
  script(src='js/lib/d3/d3.v3.min.js')
  script(src='js/lib/d3/d3.sankey.js')
  script(src='js/lib/d3/d3.hexbin.min.js')
  script(src='js/lib/codemirror/codemirror.js')  
  script(src='js/lib/codemirror/placeholder.js')  
  script(src='js/lib/codemirror/active-line.js')
  script(src='js/lib/canvg/canvg.js')
  script(src='js/lib/canvg/rgbcolor.js')
  script(src='js/lib/blob/Blob.js')
  script(src='js/lib/blob/BlobBuilder.js')
  script(src='js/lib/canvas-toblob/canvas-toBlob.js')
  script(src='js/lib/filesaver/FileSaver.min.js')
  script(src='js/lib/bootstrap-colorpicker/bootstrap-colorpicker.js')  

  
  // Raw
  script(src='js/lib/raw/raw.js')  
  script(src='js/lib/raw/raw.models.js')  
  script(src='js/lib/raw/raw.charts.js')  
  
  // Angular
  script(src='js/lib/angular/angular.js')  
  script(src='js/lib/angular-ui/angular-ui.min.js')  
  script(src='js/lib/angular-ui/angular-ui-ieshiv.min.js')
  script(src='js/lib/angular/angular-sanitize.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/bootstrap-colorpicker/bootstrap-colorpicker-module.js')  

  // Charts

  // Google Analytics
  script(src='js/analytics.js')