!!!
html(ng-app="raw")
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    base(href='/')
    title RAW

    // CSS

    // Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:100,400,700', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/angular-ui/build/angular-ui.min.css')
    link(rel='stylesheet', href='/select2/select2.css')    
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/angular-bootstrap-colorpicker/css/colorpicker.css')
  
  body(data-spy="scroll", data-target="#header")

    block body