/* app css stylesheet */

/* main scaffolding */

html,
body {
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #565656;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #footer, #header {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrap > .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

#header {
  padding: 10px 0px;
  background-color: #303032;
  color: #f2f2f2;
  text-align: center;
  opacity: .97;
  z-index: 120000;
}


.navbar .brand {
  font-size:24px;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
}

#info {
  padding: 20px 0px;
  background-color: #61d8b8;
  color: #f2f2f2;
  font-family: "Merriweather";
  height:100%;
}

.dropdown-toggle {
  text-transform: uppercase;
  color: #888;
  font-size: 11px;
  letter-spacing: 1px;
}

.dropdown-toggle .caret{
  opacity: .5;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus{
  color: #444;
  text-decoration: none;
}

.dropdown-toggle:hover .caret,
.dropdown-toggle:active .caret,
.dropdown-toggle:focus .caret {
  opacity: 1;
}

.dropdown-menu a {
  cursor: pointer;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;

  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .nav>li>a {
  font-family: Lato;
  font-size: 12px;
  font-weight: 40

  #header {
  padding: 10px 0px;
  background-color: #303032;
  color: #f2f2f2;
  text-align: center;
}0;
  letter-spacing: 1px;
  float: none;
  padding: 0px 0px 1px 0px;
  margin: 10px 15px 10px;
  color: #bbb;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;

  -webkit-transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -ms-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;

}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
  color: #eee;
  text-decoration: none;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  color: #eee;
  padding-bottom: 0px;
  border-bottom: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.push {
  margin: 10px;
}

.push-up {
  margin-top:10px;
}

.push-down {
  margin-bottom:10px;
}

.push-right {
  margin-right:10px;
}

.push-left {
  margin-left:10px;
}

.key {
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #61d8b8;
  background-image: none;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  opacity: .9;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opactiy .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;

}

.key:hover {
  opacity: 1;
}

.keys li.key {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.keys.well li.key {
  margin: 5px 0px;
}

.type {
  opacity: .5;
  padding: 2px 4px;
  margin-left: 10px;
  background-color: #fff;
  color: #61d8b8;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.light {
  font-size: 11px;
  color: #bbbbbb;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #888;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#options .header {
  font-size: 11px;
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.option {
  margin-bottom: 10px;
}

#options {

}


.toggles {
  margin-top: 70px;
  margin-left: -20px;
  position: absolute;
}

.placeholder {
  background-color:transparent;
  height:34px;
  margin: 5px 0px;
  border-radius: 4px;
  border: 2px dashed #eee;

  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ccc;
  margin-top: 8px;

    /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;

  -webkit-transition: border-color .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out;
  -ms-transition: border-color .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out;
  transition: border-color .15s ease-in-out;
}

.placeholder.valid { 
  color: #31BE3D;
}

.placeholder.invalid { 
  color: #E9451C;
}

.render {
  text-align: center;
  width: 100%;
  margin: 0px;
}

textarea.source-area {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 12px;
  cursor: auto;
}

textarea {
  resize:vertical;
}

/* Bootstrap */

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 20px 0px;
  margin-top:50px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  padding-bottom: 0px;
  text-shadow: 0px 1px #fff;
  color: #999;
}

.alert {
  text-shadow: none;
  text-align: center;
  color: #303032;
}

.alert-danger, .alert-error {
  background-color: #eff460;
  border: none;
}

.alert-success {
  background-color: rgb(221, 233, 226);
  border: none;
}

.muted {
  color: #fff;
  opacity: .8;
  font-size: 10px;
  font-weight: 400;
  margin-top: 20px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.well.success {
  border-color: rgba(38, 231, 131, 0.68);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(38, 231, 131, 0.68);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(38, 231, 131, 0.68);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(38, 231, 131, 0.68);
}

.well.fail {
  border-color: rgb(233, 114, 68);
  outline: 0;
  -webkit-box-shadow: 0 0 6px rgb(233, 114, 68)
  -moz-box-shadow: 0 0 rgb(233, 114, 68)
  box-shadow: 0 0 6px rgb(233, 114, 68)
}

input, button, select, textarea {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

select:focus {
  outline-color: transparent;
  outline-style: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #AAA;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #61d8b8;
  background-image: none;

  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.btn:hover,
.btn:focus,
.btn:active {
  background-color: #61d8b8;
  background-image: none;
  outline: 0;
  color: #ffffff;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #61d8b8;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
  font-size: 12px;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #565656;
  border: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu>li {
  vertical-align: middle;
}

.dropdown-menu>li>a {
  padding: 6px 10px;
  margin: 0px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 11px;
  vertical-align: middle;
  font-weight: 400;
  color: #eeeeee;
  text-transform: uppercase;

}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  font-weight: normal;
  background-color: #61d8b8;
  color: #ffffff;
  background-image: none;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: transparent;
  border-bottom: 1px solid #777;
}


/* Bootstrap-select 
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  outline: none;
  font-size: 11px;
  margin-bottom: 0px;
}

.bootstrap-select .btn:focus {
  background-color: #61d8b8;
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.bootstrap-select.btn-group .dropdown-menu dt {
  display: block;
  padding: 3px 20px;
  cursor: default;
  color: #aaaaaa;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bootstrap-select.btn-group .btn .filter-option {
  text-overflow: ellipsis;
}*/

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  zoom: 1;
  opacity: .9;
  vertical-align: middle;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.select2-container:hover {
  opacity: 1;
}

.select2-container-active,
.select2-container:focus {
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
border: 1px solid #5897fb;
outline: none;
-webkit-box-shadow: none;
box-shadow:none;
}

.select2-container .select2-choice {
  display: block;
  height: 30px;
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  white-space: nowrap;
  line-height: 30px;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 3px;
  background-clip: padding-box;
  text-transform: uppercase;
 
  background-color: #61d8b8;
  background-image: none;
  filter: none;
}

.select2-arrow {
  border: none;
  background: none;
}

.select2-container .select2-choice .select2-arrow b {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  background: none;
  margin-top: 17px;
  opacity; .5;
}

.select2-container:hover .select2-choice .select2-arrow b {
  opacity: 1;
}

.select2-container .select2-choice .select2-arrow {
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  border-radius: 0 3px 3px 0;
  background-clip: padding-box;
  background: transparent;
  background-image: none;
  filter: none;
}

.select2-results {
max-height: 200px;
padding: 0 0 0 4px;
margin: 4px 4px 4px 0;
position: relative;
overflow-x: hidden;
overflow-y: auto;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-drop.select2-drop-above.select2-drop-active {
border-top: 1px solid #5897fb;
}

.select2-drop.select2-drop-above {
  margin-top: 0px;
  border: none;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: none;
  filter: none;
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.select2-drop {
  width: 100%;
  margin-top: 0px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #565656;
  color: #000;
  border: none;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}


.select2-results li {
  padding: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  color: #eeeeee;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  letter-spacing: 1px;
}

.select2-results .select2-highlighted {
  background: #61d8b8;
  color: #fff;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border:none;
  background-image: none;
  filter: none;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('select2.png') right top no-repeat;
  cursor: pointer;
  outline: 0;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border:none;
}


/* CodeMirror */

.CodeMirror {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 11px;
  background-color: #ffffff;
  line-height: 18px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px 0;
  height: 293px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;*/
}

.CodeMirror-activeline {
  color: #333;
}

.CodeMirror-activeline-background {
  background: rgba(68, 204, 164, 0.18) !important;
}

pre.CodeMirror-placeholder {
  color: #888;
}

.CodeMirror.highlight {
  opacity: .5;
}

.CodeMirror-gutters {
  height: 100%;
}

div[color] {
  min-height: 36px;
  max-height: 230px;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: scroll;
}

div[color] input {
  font-size: 12px;
  margin: 0px;
  width: 60px;
  padding: 2px 6px;
  float: right;
  background: transparent;
  outline: 0px;
}

div[color] input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0px auto -webkit-focus-ring-color !important;
}


div[color] table{
  margin-bottom: 0px;
}

div[color] table td {
  padding: 5px 8px;
}

div[color] table tr:first-child td {
  border-top: none;
}

.sample-name {
  margin-top: 3px;
  float: left;
}

.sample-color {
  width:16px;
  height: 16px;
  float: left;
  margin-top: 4px;
  margin-right: 8px; 
}

.sample-text {
  outline: none;
}

.colorpicker {
  background-color: #fff;
  border: 1px solid #bbb;
}

/* Samples 
.sample .btn {
  background-color: #ddd;
}

.sample .btn-group.open .btn.dropdown-toggle {
  background-color: #ddd;
}
*/
