/* app css stylesheet */

/* main scaffolding */

html,
body {
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #565656;
  padding: 20px 0px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #footer, #header {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrap > .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

#header {
  padding: 10px 0px;
  background-color: #303032;
  color: #f2f2f2;
  text-align: center;
  opacity: .96;
}


.navbar .brand {
  font-size:24px;
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
}

#info {
  padding: 20px 0px;
  background-color: #61d8b8;
  color: #f2f2f2;
  font-family: "Merriweather";
  height:100%;
}

.dropdown-toggle {
  text-transform: uppercase;
  color: #888;
  font-size: 11px;
  letter-spacing: 1px;
}

.dropdown-toggle .caret{
  opacity: .5;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus{
  color: #444;
  text-decoration: none;
}

.dropdown-toggle:hover .caret,
.dropdown-toggle:active .caret,
.dropdown-toggle:focus .caret {
  opacity: 1;
}

.dropdown-menu a {
  cursor: pointer;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;

  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .nav>li>a {
  font-family: Lato;
  font-size: 12px;
  font-weight: 40

  #header {
  padding: 10px 0px;
  background-color: #303032;
  color: #f2f2f2;
  text-align: center;
}0;
  letter-spacing: 1px;
  float: none;
  padding: 0px 0px 1px 0px;
  margin: 10px 15px 10px;
  color: #bbb;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;

  -webkit-transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -ms-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;

}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
  color: #eee;
  text-decoration: none;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  color: #eee;
  padding-bottom: 0px;
  border-bottom: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.push {
  margin: 10px;
}

.push-up {
  margin-top:10px;
}

.push-down {
  margin-bottom:10px;
}

.push-right {
  margin-right:10px;
}

.push-left {
  margin-left:10px;
}

.key {
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #61d8b8;
  background-image: none;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  opacity: .9;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opactiy .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;

}

.key:hover {
  opacity: 1;
}

.keys li.key {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.keys.well li.key {
  margin: 5px 0px;
}


.light {
  font-size: 11px;
  color: #bbbbbb;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #888;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#visualization .header {
  font-size: 11px;
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.option {
  margin-bottom: 10px;
}

#options {

}


.toggles {
  margin-top: 70px;
  margin-left: -20px;
  position: absolute;
}

.placeholder {
  background-color:transparent;
  height:34px;
  margin: 5px 0px;
  border-radius: 4px;
  border: 2px dashed #eee;

  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ccc;
  margin-top: 8px;

    /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;

  -webkit-transition: border-color .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out;
  -ms-transition: border-color .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out;
  transition: border-color .15s ease-in-out;
}

.render {
  text-align: center;
  width: 100%;
  margin: 0px;
}

textarea.source-area {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 12px;
  cursor: auto;
}

textarea {
  resize:vertical;
}

/* Bootstrap */

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 20px 0px;
  margin-top:50px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  padding-bottom: 0px;
}

.alert {
  text-shadow: none;
  text-align: center;
  color: #303032;
}

.alert-danger, .alert-error {
  background-color: #eff460;
  border: none;
}

.alert-success {
  background-color: rgb(221, 233, 226);
  border: none;
}

.muted {
  color: #fff;
  opacity: .8;
  font-size: 10px;
  font-weight: 400;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.well.success {
  border-color: rgba(38, 231, 131, 0.68);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(38, 231, 131, 0.68);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(38, 231, 131, 0.68);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(38, 231, 131, 0.68);
}

.well.fail {
  border-color: rgb(233, 114, 68);
  outline: 0;
  -webkit-box-shadow: 0 0 6px rgb(233, 114, 68)
  -moz-box-shadow: 0 0 rgb(233, 114, 68)
  box-shadow: 0 0 6px rgb(233, 114, 68)
}

input, button, select, textarea {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

select:focus {
  outline-color: transparent;
  outline-style: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #61d8b8;
  background-image: none;

  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.btn:hover,
.btn:focus,
.btn:active {
  background-color: #61d8b8;
  background-image: none;
  outline: 0;
  color: #ffffff;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #61d8b8;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
  font-size: 12px;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #565656;
  border: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu>li {
  vertical-align: middle;
}

.dropdown-menu>li>a {
  padding: 6px 10px;
  margin: 0px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  font-weight: normal;
  background-color: #484848;
color: #61d8b8;
  background-image: none;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: transparent;
  border-bottom: 1px solid #777;
}


/* Bootstrap-select */
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  outline: none;
  font-size: 11px;
  margin-bottom: 0px;
}

.bootstrap-select .btn:focus {
  background-color: #61d8b8;
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.bootstrap-select.btn-group .dropdown-menu dt {
  display: block;
  padding: 3px 20px;
  cursor: default;
  color: #aaaaaa;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*text-align: center;*/
}

.bootstrap-select.btn-group .btn .filter-option {
  text-overflow: ellipsis;
}

/* CodeMirror */

.CodeMirror {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 11px;
  background-color: #ffffff;
  line-height: 18px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px 0;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;*/
}

.CodeMirror-activeline {
  color: #333;
}

.CodeMirror-activeline-background {
  background: rgba(68, 204, 164, 0.18) !important;
}

pre.CodeMirror-placeholder {
  color: #888;
}

.CodeMirror.highlight {
  opacity: .5;
}

/* Colorpicker */
.colorpicker-saturation {
  background-image: url("../img/saturation.png");
}
.colorpicker-hue {
  background-image: url("../img/hue.png");
}
.colorpicker-alpha {
  background-image: url("../img/alpha.png");
  display: none;
}
.colorpicker-color {
  background-image: url("../img/alpha.png");
}

/* Samples 
.sample .btn {
  background-color: #ddd;
}

.sample .btn-group.open .btn.dropdown-toggle {
  background-color: #ddd;
}
*/
