.data-type-selector {
  background-color: #ddd;

  .selected {
    background-color: #999;
  }
  .data-type-selector-item {
    padding: 10px 20px;
  }
}

.data-type-selector-trigger {
  display: inline-block;
  padding: 0 5px;
}