// Variables override
$body-bg: #F5F8FA;
$theme-colors: (
  "primary": #4bc06a,
  "success": #4bc06a,
  "warning": #E7B332,
  "danger": #D04949,
  "light": #d8d8d8,
);

:root {
  --primary-lighter: #DEFFF0;
  --warning-lighter: #fff8c6;
  --gray-100: #f8f8f8;
  --gray-400: #E2E2E2;
  --gray-700: ##495057;
  --gray-900: #181818;
}

// Boostrap scss
@import "~bootstrap/scss/bootstrap";

// Import Inter typeface
@import "~/typeface-inter/Inter (web)/inter.css";
html, body { font-family: 'Inter', sans-serif; }

// HTML tags
html {
  font-size: 13px;
}
h1 {
  font-size: 1.8461538462rem;
  font-weight: normal;
  color: var(--gray-900);
  letter-spacing: -0.5px;
  line-height: 32px;
}
h2 {
  font-size: 1.3846153846rem;
  font-weight: normal;
  color: var(--gray-900);
  letter-spacing: 0;
  line-height: 24px;
}
h4 {
  font-size: 0.9230769231rem;
  font-weight: normal;
  color: var(--gray-700);
  letter-spacing: 0;
  line-height: 16px;
}
// UI
.alert {
  color: var(--gray-100);
  display: flex;
  align-items: center;
  height: 56px;
  border: none;
  &.alert-success {
    background-color: theme-color("success");
  }
  &.alert-warning {
    background-color: theme-color("warning");
  }
  &.alert-danger {
    background-color: theme-color("danger");
  }
}
.btn {
  height: 40px;
}
.btn-white {
  color: theme-color("dark");
  background-color: white;
  border: none;
  border-bottom: 1px solid var(--light);
}
.dropdown-toggle {
  text-align: left;
  &::after {
    right: 8px;
    bottom: calc(50% - 1px);
    position: absolute;
  }
}
.dropdown-menu {
  max-height: 40vh;
  overflow-y: auto;
}
.card {
  border-radius: 4px;
  &:hover {
    background-color: var(--primary-lighter);
  }
  &.active {
    border-color: var(--primary);
    background-color: var(--primary-lighter);
  }
}
.cursorpointer, .cursor-pointer {
  cursor: pointer;
}
.noselect, .no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.text-field {
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--light);
  border-radius: 4px;
}
.underlined {
  border-bottom: 1px solid theme-color("primary");
}