// Variables override
$body-bg: #f5f8fa;
$theme-colors: (
  'primary': #4bc06a,
  'success': #4bc06a,
  'warning': #e7b332,
  'danger': #d04949,
  'light': #d8d8d8,
);

:root {
  --gray-bg: #f5f8fa;
  --primary-lighter: #defff0;
  --warning-lighter: #fff8c6;
  --gray-100: #f8f8f8;
  --gray-300: #c2c1c1;
  --gray-400: #e4e3e3;
  --gray-600: #888e94;
  --gray-700: #495057;
  --gray-900: #181818;
  --header-height: 50px;
}

// Boostrap scss
@import '~bootstrap/scss/bootstrap';

// React Data Table css
@import '~react-data-grid/dist/react-data-grid.css';

// Import Inter typeface
@import '~/typeface-inter/Inter (web)/inter.css';
@import '~/typeface-ibm-plex-mono/index.css';

html,
body {
  font-family: 'Inter', sans-serif;
}

// HTML tags
html {
  font-size: 13px;
}
body {
  background-color: var(--gray-bg);
}
h1 {
  font-size: 1.8461538462rem;
  font-weight: normal;
  color: var(--gray-900);
  letter-spacing: -0.5px;
  line-height: 32px;
  margin-bottom: 24px;
}
h2 {
  font-size: 1.3846153846rem;
  font-weight: normal;
  color: var(--gray-900);
  letter-spacing: 0;
  line-height: 24px;
}
h4 {
  font-size: 0.9230769231rem;
  font-weight: normal;
  color: var(--gray-700);
  letter-spacing: 0;
  line-height: 16px;
}
h5 {
  font-size: 1.2307692308rem;
  font-weight: 500;
  color: var(--gray-700);
  letter-spacing: 0;
  line-height: 1.2307692308rem;
  margin-bottom: 16px;
}
// UI
.alert {
  color: var(--gray-100);
  display: flex;
  align-items: center;
  height: 56px;
  border: none;
  &.alert-success {
    background-color: theme-color('success');
  }
  &.alert-warning {
    background-color: theme-color('warning');
  }
  &.alert-danger {
    background-color: theme-color('danger');
  }
}

.btn {
  height: 40px;
}

.btn-white {
  color: theme-color('dark');
  background-color: white;
  border: none;
  border-bottom: 1px solid var(--light);
}

.raw-dropdown {
  .dropdown-toggle {
    text-align: left;
    &::after {
      right: 8px;
      bottom: calc(50% - 1px);
      position: absolute;
    }
  }

  .dropdown-menu {
    max-height: 40vh;
    overflow-y: auto;
  }
}
.truncate-160px {
  max-width: 160px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.card {
  border-radius: 4px;
  &:hover {
    background-color: var(--primary-lighter);
  }
  &.active {
    border-color: var(--primary);
    background-color: var(--primary-lighter);
  }
}
.cursorpointer,
.cursor-pointer {
  cursor: pointer;
}
.text-field {
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--light);
  border-radius: 4px;
}
.underlined {
  border-bottom: 1px solid theme-color('primary');
}
.divider {
  width: 100%;
  border-top: 1px solid var(--gray-400);
  display: inline-block;
}
