.swatch {
  padding: 4px;
  background: #e5e5e5;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}

.color {
  width: 36px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
