.loading-option {
  height: 48px;
  margin: 0 0 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;

  &:hover {
    background-color: var(--primary-lighter);
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &.active {
    background-color: var(--primary-lighter);
    border-color: var(--primary);
    opacity: 1;
  }
  &:last-child {
    align-self: flex-end;
    &:hover {
      background-color: var(--warning-lighter);
    }
    &:active,
    &.active {
      border-color: var(--warning);
      background-color: var(--warning-lighter);
    }
  }
  // &:last-child, &.separated {
  //   position: relative;
  //   &::before {
  //     content:' ';
  //     border-top: 1px solid var(--gray-400);
  //     width: 100%;
  //     position: absolute;
  //     top: -8px;
  //   }
  // }
}

.start-over {
  height: 48px;
  text-align: center;
  background: var(--gray-400);
  mix-blend-mode: normal;
  border: 1px solid var(--gray-400);
  box-sizing: border-box;
  border-radius: 4px;
}
