{
  "extends": "mgcrea/legacy",
  "rules": {
    "consistent-return": 1,
    "padded-blocks": 0,
    "no-param-reassign": 1,
    "no-shadow": 1,
    "no-underscore-dangle": 0,
    "space-before-function-paren": [2, "always"]
  },
  "globals": {
    "angular": 1
  }
}
