 <!--<ul class="unstyled">
   	<li ng-repeat="color in colorsList">
    	<small>{{color.key}}</small>
      	
  	</li>
</ul>-->

<table class="table table-striped">
	<tbody>
		<tr ng-repeat="color in colorsList | orderBy:'key'">
			<td>
				<div class="sample-color" style="background-color:{{color.value}}"></div>
				<small class="sample-name">{{color.key}}</small>
			</td>
			<td>
				<div class="sample">
					<input type="text" colorpicker="hex" class="input-mini sample-text" ng-model="color.value" ng-change="setColor(color)"></input>
				</div>
			</td>
		</tr>
	</tbody>
</table>
