<div class="container" id="main">

	<div class="progress progress-striped active" ng-show="loadingProgress<100">
  	<div class="bar" style="width: {{loadingProgress}}%;"></div>
	</div>

  <h3>Data</h3>
	<textarea ui-codemirror="{ mode : 'text', styleActiveLine: true, lineNumbers : true, lineWrapping: true}"
						placeholder="Paste your text here or drag in a file..."
		        ng-model="text">
	</textarea>
	<div class="alert alert-danger" ng-show="errors">
			{{errors}}
		</div>

	<div class="row-fluid">
		<a class="btn" ng-click="loadSample()">Load Sample</a>
	</div>

	<h3>Fields</h3>
 	<div class="row-fluid">
 		<ul droppable class="unstyled keys" accept="> li">
				<li draggable ng-repeat="field in header" value="{{field}}" connect-to-sortable="ul.map" helper="clone" class="key span2">{{field.key}} <span class="muted">({{field.type}})</span></li>
		</ul>
 	</div>

 	<h3>Layout</h3>
 	<div class="row-fluid">

 		<select ng-model="layout" ng-options="l.label group by l.group for l in layouts"
 						class="show-tick" data-size="10" selectpicker></select>
 		<p ng-bind-html="layout.description"></p>
	</div>

	<div class="row-fluid">

		<div ng-repeat="structure in layout.model.structure" class="span3">
			<ul sortable 
			    ng-model="structure"
			    placeholder="placeholder"
			    single="structure.single"
			    unique="structure.unique"
			    items="> li"
			    class="keys unstyled map well">
				
				<p class="header">{{structure.label}}</p>
				
			  	<li ng-repeat="item in structure.value" value="{{item}}" class="key">{{item.key}} <span class="muted"><!--({{item.type}})--></span></li>
			</ul>
		</div>
		<div  ng-repeat="mapper in layout.model.map" class="span3">
			<ul sortable
				ng-model="mapper"
			    placeholder="placeholder"
			    single="mapper.single"
			    unique="mapper.unique"
			    items="> li"
			    class="keys unstyled map well">
				<p class="header">{{mapper.label}}</p>
				<!--<p class="small">{{mapper.accept}}</p>-->
			  	<p class="muted" ng-bind-html="mapper.description"></p>
			  	<li ng-repeat="item in mapper.value" value="{{item}}" class="key">{{item.key}} <span class="muted"><!--({{item.type}})--></span></li>
			</ul>
		</div>
	</div>

	<h3>Visualization</h3>
 	<div class="row-fluid">
		<render class="render" render-layout="layout" render-data="data"></render>
 	</div>

	<h3>options</h3>
 	<div class="row-fluid">
		<div class="row-fluid" group every="4">
			<div ng-repeat="(name,option) in layout.style" ng-model="option" class="span3">
				<div ng-switch on="option.type">
			        <p class="header">{{option.label}}</p>
			        <input type="number" min="0" ng-switch-when="number" ng-model="option.value" class="span12"></input>
			        <input type="checkbox" ng-switch-when="check" ng-model="option.value" class=""></input>
			        <color ng-switch-when="color" colors="option.value()" class="span12"></color>
			        <input type="text" ng-switch-default ng-model="option.value" class="span12"></input>
			    </div>
			</div>
		</div>
	</div>

 	<h3>Export</h3>
 	<div class="row-fluid">
 	</div>
	



</div>

<div class="container">
    <div id="push"></div>
</div> <!-- /container -->

