.chart-options {
    .chart-option {
        margin: 8px -15px;
        height: 40px;
    }
}
.options-group {
    transition: max-height 1s ease;
    height: auto;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    .group-header {
        height: 40px;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--gray-bg);
            position: absolute;
            z-index: -10;
            opacity: 0.8;
            backdrop-filter: blur(1px);
            transition: opacity 0.5s ease;
        }
    }
    &.collapsed {
        max-height: 40px;
        overflow: hidden;
        .collapse-button {
            &:before {
                transform: rotate(0deg);
            }  
            &:after {
                transform: rotate(-90deg);
            }   
        }
        .group-header {
            &:before {
                opacity: 1;
            }
        }
    }
}
.collapse-button {
    background-color: var(--gray-400);
    width: 24px;
    height: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    &:before, &:after {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 8px;
        height: 2px;
        border-radius: 1px;
        content: ' ';
        background-color: black;
        transform: rotate(180deg);
        transition: transform 0.65s ease-in-out;
    }
}